In [1]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans

In [3]:
dataset = pd.read_csv("dataset/BaseRS.csv")
dataset_without_target = dataset.drop(["target"], axis=1)

In [4]:
dataset

    Altura  Peso target
0     1.90   100      B
1     1.90    80      V
2     1.75    67      F
3     1.60    70      F
4     1.71    60      F
5     2.10   109      B
6     2.00    85      V
7     1.88    80      V
8     2.15   115      B
9     1.95   113      V
10    1.80    73      F
11    1.82    76      F
12    1.85    83      F
13    1.76    78      F
14    2.06   113      B
15    1.97   108      B
16    2.04   110      B
17    2.02   112      B
18    1.99    85      V
19    1.99    79      V
20    2.02   118      B
21    1.85    85      F
22    1.89    85      V
23    2.07    94      V
24    1.85    80      F
25    1.79    73      F
26    1.88    77      F
27    2.11   109      B
28    2.10   109      B
29    1.91    83      V

In [5]:
dataset_without_target

    Altura  Peso
0     1.90   100
1     1.90    80
2     1.75    67
3     1.60    70
4     1.71    60
5     2.10   109
6     2.00    85
7     1.88    80
8     2.15   115
9     1.95   113
10    1.80    73
11    1.82    76
12    1.85    83
13    1.76    78
14    2.06   113
15    1.97   108
16    2.04   110
17    2.02   112
18    1.99    85
19    1.99    79
20    2.02   118
21    1.85    85
22    1.89    85
23    2.07    94
24    1.85    80
25    1.79    73
26    1.88    77
27    2.11   109
28    2.10   109
29    1.91    83